1. [25] Write Python code to perform the following tasks.

In [1]:
import scipy as sp
import pandas as pd
import numpy as np
import random
import re
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction import DictVectorizer
from sklearn.pipeline import make_pipeline
from sklearn.datasets import load_iris
from sklearn.naive_bayes import GaussianNB

1.a.) Read data from hwk06-01.csv into a DataFrame df1.

In [2]:
df1 = pd.read_csv(r'hwk06-01.csv')
print(df1)

    department   status      age     salary  count
0       sales   senior   31..35   46k..50k      30
1       sales   junior   26..30   26k..30k      40
2       sales   junior   31..35   31k..35k      40
3     systems   junior   21..25   46k..50k      20
4     systems   senior   31..35   66k..70k       5
5     systems   junior   26..30   46k..50k       3
6     systems   senior   41..45   66k..70k       3
7   marketing   senior   36..40   46k..50k      10
8   marketing   junior   31..35   41k..45k       4
9   secretary   senior   46..50   36k..40k       4
10  secretary   junior   26..30   26k..30k       6

1.b.) Create a new DataFrame df2 by replicating each row of df1 with the number of copies
as indicated in the count column. For example, the first row in df1 should appear 30
times in df2, second row in df1 40 times in df2, etc.

In [3]:
dfCount = df1['count']
df2 = df1.copy
df2 = df1.loc[df1.index.repeat(dfCount)].reset_index(drop=True)
print(df2)

     department   status      age     salary  count
0        sales   senior   31..35   46k..50k      30
1        sales   senior   31..35   46k..50k      30
2        sales   senior   31..35   46k..50k      30
3        sales   senior   31..35   46k..50k      30
4        sales   senior   31..35   46k..50k      30
5        sales   senior   31..35   46k..50k      30
6        sales   senior   31..35   46k..50k      30
7        sales   senior   31..35   46k..50k      30
8        sales   senior   31..35   46k..50k      30
9        sales   senior   31..35   46k..50k      30
10       sales   senior   31..35   46k..50k      30
11       sales   senior   31..35   46k..50k      30
12       sales   senior   31..35   46k..50k      30
13       sales   senior   31..35   46k..50k      30
14       sales   senior   31..35   46k..50k      30
15       sales   senior   31..35   46k..50k      30
16       sales   senior   31..35   46k..50k      30
17       sales   senior   31..35   46k..50k      30
18       sales   senior   31..35   46k..50k      30
19       sales   senior   31..35   46k..50k      30
20       sales   senior   31..35   46k..50k      30
21       sales   senior   31..35   46k..50k      30
22       sales   senior   31..35   46k..50k      30
23       sales   senior   31..35   46k..50k      30
24       sales   senior   31..35   46k..50k      30
25       sales   senior   31..35   46k..50k      30
26       sales   senior   31..35   46k..50k      30
27       sales   senior   31..35   46k..50k      30
28       sales   senior   31..35   46k..50k      30
29       sales   senior   31..35   46k..50k      30
..          ...      ...      ...        ...    ...
135    systems   junior   26..30   46k..50k       3
136    systems   junior   26..30   46k..50k       3
137    systems   junior   26..30   46k..50k       3
138    systems   senior   41..45   66k..70k       3
139    systems   senior   41..45   66k..70k       3
140    systems   senior   41..45   66k..70k       3
141  marketing   senior   36..40   46k..50k      10
142  marketing   senior   36..40   46k..50k      10
143  marketing   senior   36..40   46k..50k      10
144  marketing   senior   36..40   46k..50k      10
145  marketing   senior   36..40   46k..50k      10
146  marketing   senior   36..40   46k..50k      10
147  marketing   senior   36..40   46k..50k      10
148  marketing   senior   36..40   46k..50k      10
149  marketing   senior   36..40   46k..50k      10
150  marketing   senior   36..40   46k..50k      10
151  marketing   junior   31..35   41k..45k       4
152  marketing   junior   31..35   41k..45k       4
153  marketing   junior   31..35   41k..45k       4
154  marketing   junior   31..35   41k..45k       4
155  secretary   senior   46..50   36k..40k       4
156  secretary   senior   46..50   36k..40k       4
157  secretary   senior   46..50   36k..40k       4
158  secretary   senior   46..50   36k..40k       4
159  secretary   junior   26..30   26k..30k       6
160  secretary   junior   26..30   26k..30k       6
161  secretary   junior   26..30   26k..30k       6
162  secretary   junior   26..30   26k..30k       6
163  secretary   junior   26..30   26k..30k       6
164  secretary   junior   26..30   26k..30k       6

[165 rows x 5 columns]

1.c.) Perform the one-of-kinds encoding on the categorical columns. For example, if a categorical attribute has three values “A”, “B”, and “C”, you will encode “A” as 0, “B” as
1, and “C” as 2. One way to do this in Python is to save the values in a list and use the
list index as the coding.

In [4]:
df2['department'] = df2['department'].astype('category')
df2['status'] = df2['status'].astype('category')                  
categoricalArray = ['department','status']
df2[categoricalArray]

     department   status
0        sales   senior
1        sales   senior
2        sales   senior
3        sales   senior
4        sales   senior
5        sales   senior
6        sales   senior
7        sales   senior
8        sales   senior
9        sales   senior
10       sales   senior
11       sales   senior
12       sales   senior
13       sales   senior
14       sales   senior
15       sales   senior
16       sales   senior
17       sales   senior
18       sales   senior
19       sales   senior
20       sales   senior
21       sales   senior
22       sales   senior
23       sales   senior
24       sales   senior
25       sales   senior
26       sales   senior
27       sales   senior
28       sales   senior
29       sales   senior
..          ...      ...
135    systems   junior
136    systems   junior
137    systems   junior
138    systems   senior
139    systems   senior
140    systems   senior
141  marketing   senior
142  marketing   senior
143  marketing   senior
144  marketing   senior
145  marketing   senior
146  marketing   senior
147  marketing   senior
148  marketing   senior
149  marketing   senior
150  marketing   senior
151  marketing   junior
152  marketing   junior
153  marketing   junior
154  marketing   junior
155  secretary   senior
156  secretary   senior
157  secretary   senior
158  secretary   senior
159  secretary   junior
160  secretary   junior
161  secretary   junior
162  secretary   junior
163  secretary   junior
164  secretary   junior

[165 rows x 2 columns]

1.d.) Make sure that df2 does not have the column count

In [5]:
df2.set_index('department', inplace=True)
del df2['count']
print(df2)
df2.to_csv(r'C:\Users\samda\Documents\Coursework\UTSA\CS 5473\HW6\df2Final.csv')

             status      age     salary
department
sales       senior   31..35   46k..50k
sales       senior   31..35   46k..50k
sales       senior   31..35   46k..50k
sales       senior   31..35   46k..50k
sales       senior   31..35   46k..50k
sales       senior   31..35   46k..50k
sales       senior   31..35   46k..50k
sales       senior   31..35   46k..50k
sales       senior   31..35   46k..50k
sales       senior   31..35   46k..50k
sales       senior   31..35   46k..50k
sales       senior   31..35   46k..50k
sales       senior   31..35   46k..50k
sales       senior   31..35   46k..50k
sales       senior   31..35   46k..50k
sales       senior   31..35   46k..50k
sales       senior   31..35   46k..50k
sales       senior   31..35   46k..50k
sales       senior   31..35   46k..50k
sales       senior   31..35   46k..50k
sales       senior   31..35   46k..50k
sales       senior   31..35   46k..50k
sales       senior   31..35   46k..50k
sales       senior   31..35   46k..50k
sales       senior   31..35   46k..50k
sales       senior   31..35   46k..50k
sales       senior   31..35   46k..50k
sales       senior   31..35   46k..50k
sales       senior   31..35   46k..50k
sales       senior   31..35   46k..50k
...             ...      ...        ...
systems     junior   26..30   46k..50k
systems     junior   26..30   46k..50k
systems     junior   26..30   46k..50k
systems     senior   41..45   66k..70k
systems     senior   41..45   66k..70k
systems     senior   41..45   66k..70k
marketing   senior   36..40   46k..50k
marketing   senior   36..40   46k..50k
marketing   senior   36..40   46k..50k
marketing   senior   36..40   46k..50k
marketing   senior   36..40   46k..50k
marketing   senior   36..40   46k..50k
marketing   senior   36..40   46k..50k
marketing   senior   36..40   46k..50k
marketing   senior   36..40   46k..50k
marketing   senior   36..40   46k..50k
marketing   junior   31..35   41k..45k
marketing   junior   31..35   41k..45k
marketing   junior   31..35   41k..45k
marketing   junior   31..35   41k..45k
secretary   senior   46..50   36k..40k
secretary   senior   46..50   36k..40k
secretary   senior   46..50   36k..40k
secretary   senior   46..50   36k..40k
secretary   junior   26..30   26k..30k
secretary   junior   26..30   26k..30k
secretary   junior   26..30   26k..30k
secretary   junior   26..30   26k..30k
secretary   junior   26..30   26k..30k
secretary   junior   26..30   26k..30k

[165 rows x 3 columns]

2. [25] Write Python code to use sklearn.tree.DecisionTreeClassifier to learn a decision tree
using the df2 as the training data, and then use the decision tree to predict the status of a user
provided unseen data, such as:
    t =< department : systems, status :?, age : 28, salary : 50K >
Your program needs to convert the actual age and salary values into the codes for the corresponding ranges before using the decision tree to predict the status. Also, use the graphviz
package to display the learned decision tree.

In [6]:
df2 = pd.read_csv('df2Final.csv')

train_X = df2[['department', 'age', 'salary']].to_dict('records')
train_y = df2['status']

def ageFormat(val):
    if 21 <= val <= 25:
        return '21..25'
    elif 26 <= val <= 30:
        return '26..30'
    elif 31 <= val <= 35:
        return '31..35'
    elif 36 <= val <= 40:
        return '36..40'
    elif 41 <= val <= 45:
        return '41..45'
    elif 46 <= val <= 50:
        return '46..50'

def salaryFormat(val):
    if 26 <= val <= 30:
        return '26k..30k'
    elif 31 <= val <= 35:
        return '31k..35k'
    elif 36 <= val <= 40:
        return '36k..40k'
    elif 41 <= val <= 45:
        return '41k..45k'
    elif 46 <= val <= 50:
        return '46k..50k'
    elif val <= 70:
        return '66k..70k'

df2Pipe = make_pipeline(DictVectorizer(), DecisionTreeClassifier())
df2Pipe.fit(train_X, train_y)

print('Enter department, age, and salary(with lowercase k at the end), separated by a space: ')
inputQ2 = input()
print()

inputQ2Split = inputQ2.split(' ')
ageDict = ageFormat(int(inputQ2Split[1]))
salaryDict = salaryFormat(int(inputQ2Split[2].rstrip('k')))
dataDict = {'department': inputQ2Split[0], 'age': ageDict, 'salary': salaryDict}

df2Pred = df2Pipe.predict(dataDict)

print('Decision Tree Classifier Prediction: {}:'.format(dataDict))
print(df2Pred[0])

Enter department, age, and salary, separated by a space:
systems 31 40k

Decision Tree Classifier Prediction: {'department': 'systems', 'age': '31..35', 'salary': '36k..40k'}:
junior

3. [25] Write Python code to create another DataFrame df3 from df1 as follows.

3.a.) Replicate rows as described above

In [7]:
dfCount = df1['count']
df3 = df1.copy
df3 = df1.loc[df1.index.repeat(dfCount)].reset_index(drop=True)
print(df3)

     department   status      age     salary  count
0        sales   senior   31..35   46k..50k      30
1        sales   senior   31..35   46k..50k      30
2        sales   senior   31..35   46k..50k      30
3        sales   senior   31..35   46k..50k      30
4        sales   senior   31..35   46k..50k      30
5        sales   senior   31..35   46k..50k      30
6        sales   senior   31..35   46k..50k      30
7        sales   senior   31..35   46k..50k      30
8        sales   senior   31..35   46k..50k      30
9        sales   senior   31..35   46k..50k      30
10       sales   senior   31..35   46k..50k      30
11       sales   senior   31..35   46k..50k      30
12       sales   senior   31..35   46k..50k      30
13       sales   senior   31..35   46k..50k      30
14       sales   senior   31..35   46k..50k      30
15       sales   senior   31..35   46k..50k      30
16       sales   senior   31..35   46k..50k      30
17       sales   senior   31..35   46k..50k      30
18       sales   senior   31..35   46k..50k      30
19       sales   senior   31..35   46k..50k      30
20       sales   senior   31..35   46k..50k      30
21       sales   senior   31..35   46k..50k      30
22       sales   senior   31..35   46k..50k      30
23       sales   senior   31..35   46k..50k      30
24       sales   senior   31..35   46k..50k      30
25       sales   senior   31..35   46k..50k      30
26       sales   senior   31..35   46k..50k      30
27       sales   senior   31..35   46k..50k      30
28       sales   senior   31..35   46k..50k      30
29       sales   senior   31..35   46k..50k      30
..          ...      ...      ...        ...    ...
135    systems   junior   26..30   46k..50k       3
136    systems   junior   26..30   46k..50k       3
137    systems   junior   26..30   46k..50k       3
138    systems   senior   41..45   66k..70k       3
139    systems   senior   41..45   66k..70k       3
140    systems   senior   41..45   66k..70k       3
141  marketing   senior   36..40   46k..50k      10
142  marketing   senior   36..40   46k..50k      10
143  marketing   senior   36..40   46k..50k      10
144  marketing   senior   36..40   46k..50k      10
145  marketing   senior   36..40   46k..50k      10
146  marketing   senior   36..40   46k..50k      10
147  marketing   senior   36..40   46k..50k      10
148  marketing   senior   36..40   46k..50k      10
149  marketing   senior   36..40   46k..50k      10
150  marketing   senior   36..40   46k..50k      10
151  marketing   junior   31..35   41k..45k       4
152  marketing   junior   31..35   41k..45k       4
153  marketing   junior   31..35   41k..45k       4
154  marketing   junior   31..35   41k..45k       4
155  secretary   senior   46..50   36k..40k       4
156  secretary   senior   46..50   36k..40k       4
157  secretary   senior   46..50   36k..40k       4
158  secretary   senior   46..50   36k..40k       4
159  secretary   junior   26..30   26k..30k       6
160  secretary   junior   26..30   26k..30k       6
161  secretary   junior   26..30   26k..30k       6
162  secretary   junior   26..30   26k..30k       6
163  secretary   junior   26..30   26k..30k       6
164  secretary   junior   26..30   26k..30k       6

[165 rows x 5 columns]

3.b.) Convert values in the age and salary columns to random values drawn from the specific
range for each row. For example, suppose the age of a row is “31..35”, replace it by a
random integer between 31 and 35 inclusively.

In [8]:
for index,row in df3.iterrows():
    df3Bounds = re.findall('\d\d',row['salary'])
    df3.at[index,'salary'] = random.randint(int(df3Bounds[0]), int(df3Bounds[1])+1)
    
for index,row in df3.iterrows():
    df3Bounds = re.findall('\d\d',row['age'])
    df3.at[index,'age'] = random.randint(int(df3Bounds[0]), int(df3Bounds[1])+1)
    
print(df3)

     department   status age salary  count
0        sales   senior   34     47     30
1        sales   senior   32     50     30
2        sales   senior   33     48     30
3        sales   senior   33     48     30
4        sales   senior   33     51     30
5        sales   senior   34     49     30
6        sales   senior   34     48     30
7        sales   senior   32     49     30
8        sales   senior   33     50     30
9        sales   senior   34     50     30
10       sales   senior   33     46     30
11       sales   senior   31     48     30
12       sales   senior   32     47     30
13       sales   senior   33     47     30
14       sales   senior   33     49     30
15       sales   senior   36     50     30
16       sales   senior   36     51     30
17       sales   senior   33     46     30
18       sales   senior   31     48     30
19       sales   senior   32     47     30
20       sales   senior   32     49     30
21       sales   senior   33     51     30
22       sales   senior   36     51     30
23       sales   senior   33     47     30
24       sales   senior   31     46     30
25       sales   senior   33     49     30
26       sales   senior   31     50     30
27       sales   senior   32     47     30
28       sales   senior   34     50     30
29       sales   senior   32     46     30
..          ...      ...  ..    ...    ...
135    systems   junior   30     51      3
136    systems   junior   28     51      3
137    systems   junior   29     48      3
138    systems   senior   45     70      3
139    systems   senior   41     67      3
140    systems   senior   46     70      3
141  marketing   senior   36     46     10
142  marketing   senior   39     46     10
143  marketing   senior   38     51     10
144  marketing   senior   40     49     10
145  marketing   senior   41     49     10
146  marketing   senior   37     51     10
147  marketing   senior   36     46     10
148  marketing   senior   36     50     10
149  marketing   senior   40     51     10
150  marketing   senior   39     51     10
151  marketing   junior   32     44      4
152  marketing   junior   36     42      4
153  marketing   junior   36     45      4
154  marketing   junior   34     46      4
155  secretary   senior   51     41      4
156  secretary   senior   48     39      4
157  secretary   senior   47     38      4
158  secretary   senior   49     40      4
159  secretary   junior   26     26      6
160  secretary   junior   29     28      6
161  secretary   junior   27     29      6
162  secretary   junior   30     30      6
163  secretary   junior   27     27      6
164  secretary   junior   26     29      6

[165 rows x 5 columns]

3.c.) Perform the same encoding on column department

In [9]:
df3['department'] = df3['department'].astype('category')
df3['status'] = df3['status'].astype('category')                  
categoricalArray = ['department','status']
df3[categoricalArray]

     department   status
0        sales   senior
1        sales   senior
2        sales   senior
3        sales   senior
4        sales   senior
5        sales   senior
6        sales   senior
7        sales   senior
8        sales   senior
9        sales   senior
10       sales   senior
11       sales   senior
12       sales   senior
13       sales   senior
14       sales   senior
15       sales   senior
16       sales   senior
17       sales   senior
18       sales   senior
19       sales   senior
20       sales   senior
21       sales   senior
22       sales   senior
23       sales   senior
24       sales   senior
25       sales   senior
26       sales   senior
27       sales   senior
28       sales   senior
29       sales   senior
..          ...      ...
135    systems   junior
136    systems   junior
137    systems   junior
138    systems   senior
139    systems   senior
140    systems   senior
141  marketing   senior
142  marketing   senior
143  marketing   senior
144  marketing   senior
145  marketing   senior
146  marketing   senior
147  marketing   senior
148  marketing   senior
149  marketing   senior
150  marketing   senior
151  marketing   junior
152  marketing   junior
153  marketing   junior
154  marketing   junior
155  secretary   senior
156  secretary   senior
157  secretary   senior
158  secretary   senior
159  secretary   junior
160  secretary   junior
161  secretary   junior
162  secretary   junior
163  secretary   junior
164  secretary   junior

[165 rows x 2 columns]

3.d.) Make sure there is no column count

In [10]:
df3.set_index('department', inplace=True)
del df3['count']
print(df3)
df3.to_csv(r'C:\Users\samda\Documents\Coursework\UTSA\CS 5473\HW6\df3Final.csv')

             status age salary
department
sales       senior   34     47
sales       senior   32     50
sales       senior   33     48
sales       senior   33     48
sales       senior   33     51
sales       senior   34     49
sales       senior   34     48
sales       senior   32     49
sales       senior   33     50
sales       senior   34     50
sales       senior   33     46
sales       senior   31     48
sales       senior   32     47
sales       senior   33     47
sales       senior   33     49
sales       senior   36     50
sales       senior   36     51
sales       senior   33     46
sales       senior   31     48
sales       senior   32     47
sales       senior   32     49
sales       senior   33     51
sales       senior   36     51
sales       senior   33     47
sales       senior   31     46
sales       senior   33     49
sales       senior   31     50
sales       senior   32     47
sales       senior   34     50
sales       senior   32     46
...             ...  ..    ...
systems     junior   30     51
systems     junior   28     51
systems     junior   29     48
systems     senior   45     70
systems     senior   41     67
systems     senior   46     70
marketing   senior   36     46
marketing   senior   39     46
marketing   senior   38     51
marketing   senior   40     49
marketing   senior   41     49
marketing   senior   37     51
marketing   senior   36     46
marketing   senior   36     50
marketing   senior   40     51
marketing   senior   39     51
marketing   junior   32     44
marketing   junior   36     42
marketing   junior   36     45
marketing   junior   34     46
secretary   senior   51     41
secretary   senior   48     39
secretary   senior   47     38
secretary   senior   49     40
secretary   junior   26     26
secretary   junior   29     28
secretary   junior   27     29
secretary   junior   30     30
secretary   junior   27     27
secretary   junior   26     29

[165 rows x 3 columns]

4. [25] Write Python code to use sklearn.naive_bayes to learn a Guassian Naive Bayes classifier
using df3 as the training data, and use the learned predictive model to predict the status of a
user provided unseen data, for example,
    t =< department : systems, status :?, age : 28, salary : 50K >
Again, you need to encode the department

In [22]:
X = df3.drop(['status'], axis=1)
y = df3['status']

X_train, X_text, y_train, y_test = train_test_split(X, y)

print('Enter department, age, and salary (with lowercase k at the end), separated by a space: ')
inputQ4 = input()
print()

inputQ4Split = inputQ4.split(' ')
ageQ4 = int(inputQ4Split[1])
salaryQ4 = int(inputQ4Split[2].rstrip('k'))
dataDict = {'department': inputQ4Split[0], 'age': ageQ4, 'salary': salaryQ4}

df3Gaussian = GaussianNB().fit(X_train, y_train)
    
df3Pred = df3Gaussian.predict([[dataDict]])

print('Naive Bayes prediction: {}:'.format(dataDict))
print(df3Pred)

Enter department, age, and salary (with lowercase k at the end), separated by a space:
systems 28 50k

TypeError: float() argument must be a string or a number, not 'dict'